.glowCSSVERSION-AutoSuggest {
	overflow: hidden;
}

.glowCSSVERSION-AutoSuggest .AutoSuggest-content {
	overflow: auto;
	margin: 0;
	padding: 0;
	list-style: none;
}

.glowCSSVERSION-AutoSuggest .AutoSuggest-item:focus {
	outline: none;
}

.glowCSSVERSION-AutoSuggest-loading {
	background: #fcc;
}