/* gel theme styles */

.glowCSSVERSION-AutoSuggest {
	overflow: hidden;
	font-family: Arial;
}

.glowCSSVERSION-AutoSuggest .AutoSuggest-content {
	overflow: auto;
	margin: 0;
	padding: 0;
	list-style: none;
	background-color:#C1C1C1;
	color:#000;
}

.glowCSSVERSION-AutoSuggest .AutoSuggest-item:focus {
	outline: none;
	background-color:#F05F08;
	color:#fff;
}
.glowCSSVERSION-AutoSuggest .AutoSuggest-item{
	padding:4px 8px;
	border-top:2px solid #fff;
}
.glowCSSVERSION-AutoSuggest .active{
	outline: none;
	background-color:#F05F08;
	color:#fff;
}
.glowCSSVERSION-AutoSuggest-loading {
	/* loading spinner loc */
	background: #fcc;
}