.glowCSSVERSION-overlay {
	position: absolute;
	z-index: 9991;
	overflow: hidden;
}

.glowCSSVERSION-overlay .hidden .overlay-content {
	display: none;
	visibility: hidden;
}

.glowCSSVERSION-overlay .shown .overlay-content {
	display: block;
	visibility: visible;
}