.blq-js .ui-dialog
{
	padding: 0;
	overflow: hidden;
	height: 120px !important;
}
.blq-js .ui-dialog *, .blq-js .ui-widget-content * {border:0 !important; margin:0 !important; }
.blq-js .ui-dialog .ui-widget-content, .blq-js .ui-dialog-titlebar {
	border:0;
	background: none;
	background-color: #fff;
}
.blq-js .ui-corner-all {
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}

.blq-js .ui-widget-overlay {
	background: none;
	background-color: #000;
	opacity: .75;
}

.blq-js .ui-dialog .ui-state-hover {
	background: none;
}




.blq-js .ui-dialog-titlebar {
    display:none;
}

.blq-nav-sub {
    
}